*{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #101010;;
    color: white;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* INICIO DAS ESTILIZAÇÕES DO AVISO */


article#new {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
    
article#msg{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
article#msg ul {
    width: 40%;
    background-color: #ff0000;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight:600;
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 0 0 .5rem .5rem;
    position: fixed;
    top: 0;
}

article#msg ul li {
    background-color: #ff0000;
}

/* FIM DAS ESTILIZAÇÕES DO AVISO */


/* INICIO DAS ESTILIZAÇÕES DA NAV BAR */

header nav{
    background: #7A16414D;
    font-family:'Segoe UI', 'Lucida Sans Unicode', Verdana, sans-serif
}

header nav img{
    background-color: transparent;
}

body header nav button.navbar-toggler.ml-auto.collapsed{
    background-color: #7a164100;
}

.ml-auto{
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.76);
}

/* FIM DAS ESTILIZAÇÕES DA NAV BAR */

section{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-family:'Segoe UI', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin:0 auto;
}

h1{
    margin-top: 3rem;
    text-align: center;
}

body section form div{
    display: flex;
    justify-content:center;
    align-items:right;
    flex-direction: column;
    margin-top: 20px;
    
}

input{
    padding: 1px;
    height:2rem;
    border-radius: 20px;
    color: black;
    background-color: rgb(196, 196, 196);
    text-align: center;
}

textarea{
    font-size: 13px;
    border-radius: 20px;
    color: black;
    background-color: rgb(196, 196, 196);
    padding: 10px;
    text-align: center;
}

input,textarea{
    width:25rem;
}

#botao{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#botao button{
    border-radius: 30px;
    height: 2.5rem;
    width: 9rem;
    background-color: #7A16414D;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

#botao button:hover{
    background-color: rgb(10, 10, 10);
}

#dados{
    margin-bottom: 3rem;
}

section.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000080;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}
  
section.modal div#card{
    width: 30rem;
    position: relative;
    background-color: #fff;
    border-radius: .5rem;
}

section.modal div#card h2{
    padding: 2rem;
    margin: 0;
    color: #ff0101;
}

section.modal div#card a#fechar{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: #ff0101;
    padding: 1.5rem;
}

section.modal div#card a#fechar:hover{
    color: #fd9b9b;
}

section.modal div#card hr{
    width: 90%;
    margin: 0 auto;
}

section.modal div#card p{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

#button_apagar{
border-radius: 30px;
height: 2.5rem;
width: 9rem;
background-color: #7A16414D;
transition: 0.7s ease-in-out;
cursor: pointer;
}