*{
    margin:0;
    padding:0;
    background-color: #101010;
    color: white;
}


::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 0 5px 5px 0; 
}
::-webkit-scrollbar-thumb {
    background: #0a0a0a;
    border-radius: 5px 5px 5px 5px; 
}
::-webkit-scrollbar-thumb:hover {
   
    border-radius: 5px 5px 5px 5px;
}
/* INICIO DAS ESTILIZAÇÕES DA NAV BAR */

header nav{
    background: #30121F;
}

header nav img{
    background-color: transparent;
}

body header nav button.navbar-toggler.ml-auto.collapsed{
    background-color: #7a164100;
}

.ml-auto{
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.76);
}

/* fim DAS ESTILIZAÇÕES DA NAV BAR */

.filme_imagem{
    height: 30rem;
    width: 18rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

section{
    padding: 0 0 0 1rem;
    display: flex;
    padding-top: 1rem;
    width: 100%;
    overflow-x: scroll;
    overflow-y: none;
    height: 38rem;
}

#titulo_nome{
    display: flex;
    align-items: center;
    padding: 4rem 0 1rem 5rem;
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 19rem;
    max-height: 33rem;
    margin-left: 2rem;
    margin-top: 1rem;
    transition: .7s;
    height: 50rem;
}

#cada_filme{
    display: flex;
}

article:hover{
    transform: scale(1.1);
}

