*{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #101010;
    color: white;
}


@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
    }


/* INICIO DAS ESTILIZAÇÕES DA NAV BAR */

header nav{
    background: #7A16414D;
}

header nav img{
    background-color: transparent;
}

body header nav button.navbar-toggler.ml-auto.collapsed{
    background-color: #7a164100;
}

.ml-auto{
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 72, 0);
}

/* FIM DAS ESTILIZAÇÕES DA NAV BAR */

#titulo h1{
    text-align: center;
    padding-top: 20px;
    font-size: 5vw;
}
#participantes{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.participante{
    width:298px;
    color: #fff;
}

.participante img{
    margin-top: 50px;
    width: 100%;
    height: 278px;
    border-radius: 50%;
}

.participante h1{
    text-align:center;
    margin-top:25px;
    font-weight: 700;
}

.participante span{
    display:block;
    margin-top: 11px;
    text-align: center;
    font-weight: 700;
}

.participante button{ 
    width:200px;
    height:60px;
    border-radius:20px;
    display:block;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 50px;
    background: rgba(147, 37, 74, 0.3);
    border: none;
    color: #fff;
}

.participante button a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    transition: .5s;
    font-weight: 700;
}

footer p{
    width:100%;
    margin-bottom:0px;
    text-align:center;
    color: #fff;
    font-size: 1rem;  
}

@media (max-width: 1000px){
    #titulo h1{
        font-size: 8vw;
    }
}

@media (max-width: 670px){
    #titulo h1{
        font-size: 10vw;
    }
}

