<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/participantes_style.css" media="screen" />
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Participantes</title>
</head>
<body>
  <header class="menuresponsivo">
    <nav class="navbar navbar-expand-lg navbar-light  ">
      <img src="../static/img/icone.png" alt="icone">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/" link="">Home</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/layout">Categorias</a>
          </li>
          <li class="nav-item ml-auto">
            <strong><a class="nav-link" href="/participantes">Participantes</a></strong>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/new">Adicionar</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="section-participantes">
    <div id="titulo">
      <h1>PARTICIPANTES</h1>
    </div>
      <div id="participantes">
        <div class="participante">
            <img src="../static/img/participantes_thiago.jpg">
            <h1>THIAGO</h1>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo blandit pharetra.
               Vestibulum ac pellentesque mauris. Maecenas rhoncus mauris ac turpis blandit, a aliquam libero finibus.
            </span>
            <div id="botoes">
              <button type="button"><i class="fa fa-linkedin-square"aria-hidden="true"></i><a href="https://www.linkedin.com/in/thiago-roberto/ "target="_blank">LINKEDIN</a></button>
              <button type="button"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/Thialves02"target="_blank">GITHUB</a></button>
            </div>
            
        </div>
        <div class="participante">
            <img src="../static/img/participantes_nilson.jpg">
            <h1>NILSON</h1>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo blandit pharetra.
               Vestibulum ac pellentesque mauris. Maecenas rhoncus mauris ac turpis blandit, a aliquam libero finibus.  
            </span>
            <div id="botoes">
              <button type="button"><i class="fa fa-linkedin-square"aria-hidden="true"></i><a href="https://www.linkedin.com/in/nilsonrx/"target="_blank">LINKEDIN</a></button>
              <button type="button"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/nilsonrx"target="_blank">GITHUB</a></button>
            </div>
        </div>
        <div class="participante">
            <img src="../static/img/participantes_larissa.jpg">
            <h1>LARISSA</h1>
            <span>
              Meu nome é Larissa dos Santos Soares, tenho 25 anos e tenho uma linda família, que é minha maior conquista. 
              Minha segunda meta é ultrapassar meus objetivos profissionais em relação a tecnologia, ramo de trabalho 
              o qual escolhi! Foco, força e fé sempre para seguir em frente! 
            </span>
            <div id="botoes">
              <button type="button"><i class="fa fa-linkedin-square"aria-hidden="true"></i><a href="https://www.linkedin.com/in/larissa-soares-220918/"target="_blank">LINKEDIN</a></button>
              <button type="button"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/LarisSoares"target="_blank">GITHUB</a></button>
            </div>
        </div>
        <div class="participante">
            <img src="../static/img/participantes_wanderson.jpg">
            <h1>WANDERSON</h1>
            <span>
              Conheceu a linguagem Python em janeiro de 2021 e hoje estuda na Blue para entrar de vez na carreira Dev.  
            </span>
            <div id="botoes">
              <button type="button"><i class="fa fa-linkedin-square"aria-hidden="true"></i><a href="https://www.linkedin.com/in/wandersongsantos/ "target="_blank">LINKEDIN</a></button>
              <button type="button"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/wandersonDeve"target="_blank">GITHUB</a></button>
            </div>
        </div>
        <div class="participante">
          <img src="../static/img/participantes_vinicius.jpeg">
          <h1>VINICIUS</h1>
          <span>
            Me chamo Vinicius Florencio, tenho 25 anos, nascido e criado em Santos, formado em Direito, atualmente estudante na Blue EdTech, 
            buscando uma oportunidade no mercado de tecnologia, no meu tempo livre gosto de praticar esportes e assistir filmes.
          </span>
          <div id="botoes">
            <button type="button"><i class="fa fa-linkedin-square"aria-hidden="true"></i><a href="https://www.linkedin.com/in/vinicius-florencio-069856138/"target="_blank">LINKEDIN</a></button>
            <button type="button"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/viniflorencio"target="_blank">GITHUB</a></button>
          </div>
        </div>
        <div>
          
        </div>
      </div>
  </section>

    <footer >
      <p>Todos os direitos reservados</p>
    </footer>

</body>
<script src="../static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>