<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catalogo sinopse</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sinopse_style.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <header class="menuresponsivo">
    <nav class="navbar navbar-expand-lg navbar-light" >
      <img src="../static/img/icone.png" alt="icone">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/" link="">Home</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Categorias</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/participantes">Participantes</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/new">Adicionar</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    
  <div id='voltar'>
    <div id='backBtn'> 
        <a href="/"><button>Voltar</button></a>
    </div>
  </div>

  <div id='infoFilme'>

    <section id='Filme'>
      <img id='poster' src="../static/img/fringe_home_mobile.jpg" alt="poster do filme">
      <a id='btnTrailer' href="https://www.google.com.br/"  target="_blank"><button id='trailer'>Trailer</button></a>
    </section>

    <article>
      <div id='nomeFilme'>
        <h1>Movie name</h1>

        <div id='estrela'>
          <span id='estrela_1' class="material-icons">
            star_rate
          </span>
          <span id='estrela_2' class="material-icons">
            star_rate
          </span>
          <span id='estrela_3' class="material-icons">
            star_rate
          </span>
          <span id='estrela_4' class="material-icons">
            star_rate
          </span>
          <span id='estrela_5' class="material-icons">
            star_rate
          </span>
        </div>
      </div>

      <div id='sinopse'>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusamus provident eum voluptas officia
            hic amet laudantium, porro possimus suscipit sequi harum fuga qui! Dignissimos distinctio voluptates
            aspernatur minus temporibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusamus provident eum voluptas officia
            hic amet laudantium, porro possimus suscipit sequi harum fuga qui! Dignissimos distinctio voluptates
            aspernatur minus temporibus</p>
      </div>

      <div id='botoes'>
        <a id='lista_btn' href="">
          <button>+Lista</button>
        </a>
  
        <a id='assistir_btn' href="">
          <button>Assistir<span class="material-icons">
            play_arrow
            </span>
          </button>
        </a>
      </div>

    </article>

  </div>

    
</body>
<script src="../static/js/sinopse.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>