<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/sobre_style.css">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <title>Sobre</title>
</head>
<body>
    <header class="menuresponsivo">
        <nav class="navbar navbar-expand-lg navbar-light" >
          <img src="../static/img/icone.png" alt="icone">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ml-auto">
                <a class="nav-link" href="/" link="">Home</a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link" href="#">Categorias</a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link" href="/participantes">Participantes</a>
              </li>
              <li class="nav-item ml-auto">
                <a class="nav-link" href="/new">Adicionar</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <section>
        <div id="titulo">
            <h1>SOBRE</h1>
        </div>
        <div id='sobre'>
          <h2>Nosso projeto, retrata um catálogo de diveros filmes e séries, que foi inspirado 
            em diversas plataformas de streaming (Netflix, Globoplay, entre outros!). O projeto contará com futuras atualizações de melhoria, para melhor uso de quem estiver
             navegando, como responsividade para todos os tipos de tela e uso de mais páginas 
             dinâmicas.</h2>
      </section>
      
</body>

</html>